@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

p {
  color: hsl(75, 94%, 57%);
  font-size: 0.8rem;
  margin-top: -1rem;
}

main {
  height: 70vh;
  width: 20rem;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

q {
  font-size: 0.8rem;
  padding-top: 1rem;
}

button {
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 17rem;
  background-color: hsl(0, 0%, 20%);
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}
 
@media screen and (width < 400px){
    main { width: 90%;   height: 85%}
    p, q , button { font-size: 1rem;}
    button { width: 60vw}
    
}
